
<div class="transaction container theme-showcase">

    <h1>My Transactions</h1>

    <table>
      <tr>
        <th>Transaction</br>ID</th>
        <th>Date</th>
        <th>User</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>0001</td>
        <td>20-01-17</td>
        <td>Mike</td>
        <td><div>Accepted</div></td>
      </tr>
      <tr>
        <td>0002</td>
        <td>28-01-17</td>
        <td>Jane</td>
        <td><div>Declined</div></td>
      </tr>
      <tr>
        <td>0003</td>
        <td>02-04-17</td>
        <td>Paul</td>
        <td><div>Pending</div></td>
      </tr>
    </table>

</div>
